$pink-color: #c22085;
$red-color: #E50914;
$green-color: #00B14F;
$white-color: #ffffff;
$white-color-hover: hsl(0, 0%, 80%);
$black-color: #000000;
$black-color-semi-transparent: rgba(0, 0, 0, 0.5);
$light-black-color: hsl(0, 0%, 23%);
$blue-color: #3945c6;
$blue-color-hover: hsl(235, 55%, 58%);
$sky-blue-color: #66d9ed;
$purple-color: #923fe6;
