@charset "UTF-8";
.initial-text-animation {
  background: #000000;
  position: absolute;
  z-index: 6;
  top: 0;
  width: 100%;
  height: 41em;
  display: grid;
  place-items: center;
  transition: opacity 1.3s linear;
  user-select: none;
  padding: 0em 1.5em;
}
.initial-text-animation p {
  position: relative;
  bottom: 2.5em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  font-size: clamp(1.7rem, 4vw, 3rem);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 3.8s linear infinite;
}

.removed {
  opacity: 0;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
@media (min-width: 40em) {
  #initialTextAnimation {
    height: 50em;
  }
}
.desktop-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  padding: 0.3em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
.desktop-navbar div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.desktop-navbar div:first-child label {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0.7em;
  width: 4.3em;
  cursor: pointer;
  transform: scale(0.75);
  -webkit-tap-highlight-color: transparent;
}
.desktop-navbar div:first-child label span {
  background: #ffffff;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.desktop-navbar div:first-child span:nth-of-type(1) {
  width: 50%;
}
.desktop-navbar div:first-child span:nth-of-type(2) {
  width: 100%;
}
.desktop-navbar div:first-child span:nth-of-type(3) {
  width: 75%;
}
.desktop-navbar div:first-child input[type=checkbox] {
  display: none;
}
.desktop-navbar div:first-child input[type=checkbox]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}
.desktop-navbar div:first-child input[type=checkbox]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}
.desktop-navbar div:first-child input[type=checkbox]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}
.desktop-navbar div:first-child a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
  user-select: none;
}
.desktop-navbar div:nth-child(2) {
  display: none;
}
.desktop-navbar div:nth-child(2) a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  transition: color 0.6s ease-in-out;
  cursor: pointer;
}
.desktop-navbar div:nth-child(2) a:hover {
  color: #66d9ed;
}
.desktop-navbar div:nth-child(2) a::after {
  content: "";
  background: #66d9ed;
  position: relative;
  top: 0.1em;
  display: block;
  width: 0%;
  height: 0.23em;
  transition: width 0.6s ease-in-out;
}
.desktop-navbar div:nth-child(2) a:hover::after {
  width: 100%;
}

@media (min-width: 48em) {
  .desktop-navbar {
    padding: 0.5em 1.5em;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
  }
  .desktop-navbar div:first-child label {
    display: none;
  }
  .desktop-navbar div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin: 0em 0.8em;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}
.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 4em);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  transform: translateY(-150vh);
  overflow-y: auto;
  text-align: center;
  line-height: 5em;
  position: fixed;
  z-index: 8;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3);
  transition: transform 0.8s ease-in-out;
}
.mobile-navbar a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  transition: background 0.25s ease;
}
.mobile-navbar a:hover {
  background: #c22085;
}

@media (min-width: 48em) {
  .mobile-navbar {
    display: none;
  }
}
.navbar-active {
  transform: translateY(4.5em);
}

.navbar-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 7;
}

.navbar-overlay-active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 48em) {
  .navbar-overlay {
    display: none;
  }
}
.hero-section .hero-title {
  position: absolute;
  width: 100%;
  z-index: 3;
  margin-top: 7.1em;
  padding: 0em 1.5em;
}
.hero-section .hero-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(1.75rem, 5.5vw, 3.5rem);
  color: #ffffff;
  text-align: center;
  line-height: 1.1em;
}
.hero-section .hero-landscape {
  position: relative;
  top: 0;
  z-index: 2;
  height: 41em;
  user-select: none;
}
.hero-section .hero-landscape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section .hero-mountain {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 4;
  height: 41em;
  user-select: none;
}
.hero-section .hero-mountain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section .gradient-shadow {
  display: block;
  width: 100%;
  height: 13em;
  background: linear-gradient(180deg, transparent, rgba(14, 14, 14, 0.6), #000);
  margin-top: -13em;
  position: relative;
  z-index: 5;
}
@media (min-width: 40em) {
  .hero-section .hero-title {
    margin-top: 6.65em;
  }
  .hero-section .hero-landscape {
    height: 50em;
  }
  .hero-section .hero-mountain {
    height: 50em;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 8.5em 2em 7em 2em;
  scroll-margin: 5em;
}
.about-section .profile-picture {
  width: min(17em, 100%);
}
.about-section .profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.about-section .profile-picture h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section .profile-picture h1::after {
  content: "";
  width: 0em;
  height: 0.2em;
  background: #c22085;
  display: block;
  transition: width 1.3s ease-in-out;
}
.about-section .profile-picture .title-slide::after {
  width: 5.3em;
}
.about-section .about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4em;
  width: min(36em, 100%);
}
.about-section .about-content p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  transform: translateY(2em);
  transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
}
.about-section .about-content .fade-up-animate {
  opacity: 1;
  transform: translateY(0em);
}
@media (min-width: 46em) {
  .about-section {
    flex-direction: row;
    gap: 4em;
    padding: 7em 2em;
  }
  .about-section .about-content p {
    text-align: left;
  }
}

.skills-section {
  padding-top: 7em;
  padding-bottom: 7em;
  scroll-margin: 5em;
}
.skills-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-section h1::after {
  content: "";
  width: 0em;
  height: 0.2em;
  background: #c22085;
  display: block;
  transition: width 1.3s ease-in-out;
}
.skills-section .title-slide::after {
  width: 3em;
}
.skills-section .skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  width: min(80em, 85%);
  margin: 2.5em auto 0em auto;
}
.skills-section .skills-container .skill-content {
  background: #c22085;
  padding: 1.1em;
  border-radius: 15px;
  width: min(20em, 100%);
  opacity: 0;
  transform: translateY(2em);
  transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
}
.skills-section .skills-container .skill-content p {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  border-bottom: 3.5px solid #ffffff;
  margin-bottom: 0.3em;
  color: #ffffff;
}
.skills-section .skills-container .skill-content ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}
.skills-section .skills-container .skill-content ul li {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
}
.skills-section .skills-container .fade-up-animate {
  opacity: 1;
  transform: translateY(0em);
}

.login-content {
  padding: 7.5em 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-content .login-text h1 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.2em;
}
.login-content .login-form {
  display: flex;
  flex-direction: column;
  width: min(27em, 100%);
}
.login-content .login-form .login-success {
  width: min(27em, 100%);
  margin: 1.3em auto 0em auto;
  background: #00B14F;
  color: #ffffff;
  border-radius: 10px;
  padding: 0.6em 1em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.login-content .login-form .login-error {
  width: min(27em, 100%);
  margin: 1.3em auto 0em auto;
  background: #E50914;
  color: #ffffff;
  border-radius: 10px;
  padding: 0.6em 1em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.login-content .login-form label {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1em;
}
.login-content .login-form label:first-of-type {
  margin-top: 1.5em;
}
.login-content .login-form input {
  font-family: "Poppins", sans-serif;
  background: hsl(0, 0%, 23%);
  border: none;
  padding: 0.8em 1em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 0.5em;
}
.login-content .login-form input:focus {
  outline: none;
}
.login-content .login-form button {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  background: #3945c6;
  color: #ffffff;
  border: none;
  align-self: start;
  margin-top: 2em;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.login-content .login-form button:hover {
  background: hsl(235, 55%, 58%);
}
.login-content .login-form button:disabled {
  background: hsl(0, 0%, 23%);
  color: #090808;
  cursor: not-allowed;
}

.blog-dashboard {
  padding-top: 7em;
  padding-bottom: 7em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: min(50em, 85%);
  margin: 0 auto;
}
.blog-dashboard .blog-actions {
  display: flex;
  justify-content: space-between;
}
.blog-dashboard .blog-actions a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  padding: 0.7em 1em;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.blog-dashboard .blog-actions a:first-of-type {
  background-color: #3945c6;
}
.blog-dashboard .blog-actions a:first-of-type:hover {
  background-color: hsl(235, 55%, 58%);
}
.blog-dashboard .blog-actions a:last-of-type {
  background-color: #E50914;
}
.blog-dashboard .blog-actions a:last-of-type:hover {
  background-color: hsl(357, 92%, 55%);
}
.blog-dashboard .blog-posts {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2.5em;
}
.blog-dashboard .blog-posts li {
  list-style: none;
  background: hsl(0, 0%, 23%);
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: background 0.2s ease-in-out;
}
.blog-dashboard .blog-posts li p {
  font-family: "Poppins", sans-serif;
}
.blog-dashboard .blog-posts li p:first-of-type {
  font-size: 1.5rem;
  font-weight: 600;
  overflow-wrap: anywhere;
}
.blog-dashboard .blog-posts li p:nth-of-type(2) {
  font-size: 1.2rem;
  margin-top: 0.8em;
  overflow-wrap: anywhere;
}
.blog-dashboard .blog-posts li p:nth-of-type(3) {
  font-size: 1rem;
  margin-top: 0.6em;
  overflow-wrap: anywhere;
}
.blog-dashboard .blog-posts li .post-links {
  display: flex;
  gap: 1.5em;
  margin-top: 1em;
}
.blog-dashboard .blog-posts li .post-links a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: hsl(270, 77%, 70%);
  font-size: 1rem;
}
.blog-dashboard .blog-posts li .post-links a:hover {
  text-decoration: underline;
}

.projects-section {
  padding-top: 7em;
  padding-bottom: 8em;
  scroll-margin: 5em;
}
.projects-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-section h1::after {
  content: "";
  width: 0em;
  height: 0.2em;
  background: #c22085;
  display: block;
  transition: width 1.3s ease-in-out;
}
.projects-section .title-slide::after {
  width: 4.5em;
}
.projects-section .projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5em;
  margin: 3.5em auto 0em auto;
  width: min(53em, 85%);
  list-style: none;
}
.projects-section .projects-container .rev-block {
  position: relative;
  width: 100%;
}
.projects-section .projects-container .rev-block .project-content {
  opacity: 0;
  border: 3.7px solid #c22085;
  padding: 1.4em 1.5em;
}
.projects-section .projects-container .rev-block .project-content p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.projects-section .projects-container .rev-block .project-content p:first-of-type {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.3em;
}
.projects-section .projects-container .rev-block .project-content p:last-of-type {
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.projects-section .projects-container .rev-block .project-content a {
  font-family: "Poppins", sans-serif;
  color: #3945c6;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}
.projects-section .projects-container .rev-block .project-content a:hover {
  color: hsl(235, 55%, 58%);
}
.projects-section .projects-container .rev-block .reveal-opacity-animate {
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 0.9s;
}
.projects-section .projects-container .rev-block::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #c22085;
}
.projects-section .projects-container .reveal-animate::after {
  animation: rev-block 1.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 0.3s;
}

@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.interests-section {
  padding-bottom: 7em;
  scroll-margin: 5em;
}
.interests-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interests-section h1::after {
  content: "";
  width: 0em;
  height: 0.2em;
  background: #c22085;
  display: block;
  transition: width 1.3s ease-in-out;
}
.interests-section .title-slide::after {
  width: 5em;
}
.interests-section .interests-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em 1.5em 0em 1.5em;
  gap: 2.5em;
}
.interests-section .interests-content .interests-info {
  border: 3.7px solid #c22085;
  border-radius: 15px;
  width: min(22em, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 1em;
  opacity: 0;
  transform: translateY(2em);
  transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
}
.interests-section .interests-content .interests-info .interests-icon {
  width: 3.5em;
  height: 3.5em;
}
.interests-section .interests-content .interests-info .interests-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.interests-section .interests-content .interests-info p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1em;
}
.interests-section .interests-content .fade-up-animate {
  opacity: 1;
  transform: translateY(0em);
}

.questions-section {
  padding-bottom: 8em;
  scroll-margin: 5em;
}
.questions-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions-section h1::after {
  content: "";
  width: 0em;
  height: 0.2em;
  background: #c22085;
  display: block;
  transition: width 1.3s ease-in-out;
}
.questions-section .title-slide::after {
  width: 2.6em;
}
.questions-section .question-and-answer-content {
  display: flex;
  flex-direction: column;
  margin: 2.7em auto 0em auto;
  width: min(87%, 50em);
}
.questions-section .question-and-answer-content .accordion {
  font-family: "Poppins", sans-serif;
  background: #c22085;
  color: #ffffff;
  cursor: pointer;
  padding: 1.1em;
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions-section .question-and-answer-content .active,
.questions-section .question-and-answer-content .accordion:hover {
  background: #c22085;
}
.questions-section .question-and-answer-content .accordion:after {
  content: "+";
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 0.7em;
}
.questions-section .question-and-answer-content .active:after {
  content: "−";
  color: #ffffff;
  font-size: 1.3rem;
  margin-left: 0.7em;
}
.questions-section .question-and-answer-content .panel {
  background: #c22085;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 1.5em;
  user-select: none;
}
.questions-section .question-and-answer-content .panel p {
  padding: 0em 1.2em 1.2em 1.2em;
  width: 100%;
  color: #ffffff;
  line-height: 1.7em;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

.contacts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.5em 1.3em;
  scroll-margin: 5em;
}
.contacts-section .contact-info h1 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.2em;
}
.contacts-section .error-list {
  margin-top: 1.3em;
  width: 100%;
}
.contacts-section .error-list .errors {
  width: min(27em, 100%);
  margin: 0 auto;
}
.contacts-section .error-list .errors ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contacts-section .error-list .errors ul li {
  background: #E50914;
  color: #ffffff;
  border-radius: 10px;
  padding: 0.6em 1em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.contacts-section .message-sent-success {
  width: min(27em, 100%);
  margin: 1.3em auto 0em auto;
  background: #00B14F;
  color: #ffffff;
  border-radius: 10px;
  padding: 0.6em 1em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.contacts-section .message-sent-error {
  width: min(27em, 100%);
  margin: 1.3em auto 0em auto;
  background: #E50914;
  color: #ffffff;
  border-radius: 10px;
  padding: 0.6em 1em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.contacts-section .contact-form {
  display: flex;
  flex-direction: column;
  width: min(27em, 100%);
}
.contacts-section .contact-form label {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1em;
}
.contacts-section .contact-form label:first-of-type {
  margin-top: 1.5em;
}
.contacts-section .contact-form input {
  font-family: "Poppins", sans-serif;
  background: hsl(0, 0%, 23%);
  border: none;
  padding: 0.8em 1em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 0.5em;
}
.contacts-section .contact-form input:focus {
  outline: none;
}
.contacts-section .contact-form textarea {
  font-family: "Poppins", sans-serif;
  background: hsl(0, 0%, 23%);
  border: none;
  resize: none;
  height: 10em;
  padding: 0.8em 1em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 0.5em;
}
.contacts-section .contact-form textarea:focus {
  outline: none;
}
.contacts-section .contact-form button {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  background: #3945c6;
  color: #ffffff;
  border: none;
  align-self: start;
  margin-top: 2em;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.contacts-section .contact-form button:hover {
  background: hsl(235, 55%, 58%);
}
.contacts-section .contact-form button:disabled {
  background: hsl(0, 0%, 23%);
  color: #090808;
  cursor: not-allowed;
}
.contacts-section .contact-links {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
}
.contacts-section .contact-links a {
  font-size: 2.2rem;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}
.contacts-section .contact-links a:hover {
  color: hsl(0, 0%, 80%);
}
@media (min-width: 30em) {
  .contacts-section {
    padding: 8.5em 2em;
  }
}

.user-table-content {
  width: min(65em, 90%);
  padding-bottom: 7em;
  margin: 0 auto;
}

:root {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #000000, #222);
}

/*# sourceMappingURL=style.css.map */
