@use "themeprovider/color" as color;

.contacts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.5em 1.3em;
  scroll-margin: 5em;

  .contact-info {
    h1 {
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: 2.2rem;
      line-height: 1.2em;
    }
  }

  .error-list {
    margin-top: 1.3em;
    width: 100%;

    .errors {
      width: min(27em, 100%);
      margin: 0 auto;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1em;

        li {
          background: color.$red-color;
          color: color.$white-color;
          border-radius: 10px;
          padding: 0.6em 1em;
          font-family: "Poppins", sans-serif;
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }

  .message-sent-success {
    width: min(27em, 100%);
    margin: 1.3em auto 0em auto;
    background: color.$green-color;
    color: color.$white-color;
    border-radius: 10px;
    padding: 0.6em 1em;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
  }

  .message-sent-error {
    width: min(27em, 100%);
    margin: 1.3em auto 0em auto;
    background: color.$red-color;
    color: color.$white-color;
    border-radius: 10px;
    padding: 0.6em 1em;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: min(27em, 100%);

    label {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 1.1rem;
      margin-top: 1em;

      &:first-of-type {
        margin-top: 1.5em;
      }
    }

    input {
      font-family: "Poppins", sans-serif;
      background: color.$light-black-color;
      border: none;
      padding: 0.8em 1em;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 10px;
      margin-top: 0.5em;

      &:focus {
        outline: none;
      }
    }

    textarea {
      font-family: "Poppins", sans-serif;
      background: color.$light-black-color;
      border: none;
      resize: none;
      height: 10em;
      padding: 0.8em 1em;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 10px;
      margin-top: 0.5em;

      &:focus {
        outline: none;
      }
    }

    button {
      font-family: "Poppins", sans-serif;
      font-size: 0.9rem;
      font-weight: 600;
      background: color.$blue-color;
      border: none;
      align-self: start;
      margin-top: 2em;
      border-radius: 10px;
      padding: 1em;
      cursor: pointer;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: color.$blue-color-hover;
      }
    }
  }

  .contact-links {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 2em;

    a {
      font-size: 2.2rem;
      color: color.$white-color;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: color.$white-color-hover;
      }
    }
  }

  @media (min-width: 30em) {
    padding: 8.5em 2em;
  }
}
